{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>    
        <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
        </div>
        <div class="card">
        <div class="card-content">
        <span class="card-title">Comments</span>
        <form method="post" action="/ideas/comment/{{ideas.id}}">
              <div class="input-field">
                <textarea name="commentBody" class="materialize-textarea"></textarea>
              </div>
              <input type="submit" value="Submit" class="btn">
            </form>
        </div>
        </div>
        {{#each comments}}
        <div class="card">
          <div class="card-content">
            <h5>{{commentBody}}</h5>
            <br>
          </div>
        </div>
      {{/each}}
    
{{else}}
    <p>No announcements posted yet</p>
{{/each}}